body{
    background-color: #0b2b40;
}
#body{
    font-family: "Gotham SSm", Helvetica, Arial, sans-serif;
    margin-top: 20px;
}
#logo{
    font-family: 'El Messiri', sans-serif;
    font-size: 26px;
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #00aced;
}
.fa-instagram{
    color: #517fa4;
}
#profile{
    height:100%;
    width:100%;
    max-width: 303px;
    max-height: 397px;
}
.row{
    margin-top: 30px;
}
#bio{
    margin-top: 40px; margin-left: 0;padding-left: 0;
}
#details{
   margin-top:40px;
   font-family: 'Playball', cursive;
   font-size: 40px;
}
footer{
    margin-top: 2px;
    margin-bottom: 0;
    padding-bottom: 20px;
}

h3 a{
    color:#330033;
}
.container{
    background-color: #009933;
    background-repeat:no-repeat;
    background: url(../img/background.jpg)
}
#message{
    margin-bottom: 20px;
}
#details{
    padding-left: 30px;
    }

.modal{
   font-family:"Lucida Sans",cursive;
    font-size: 12px;

}
#star{
    font-size:25px;
    padding-left: 10px;
    color: #cc1111;
}
.btn-default{
  background-color:#e4e4e4;
}
.navbar-default{
    background-color: #0b2b40;
    border: none;
}
#nav-container{
    background:#f9d772;
}
.nav-item:hover{
    text-shadow: 0 4px #330033;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    color: #0b0651;
    background: none;
}
#nav-item a {
        font-size: 14px;
        font-family: 'Crete Round', serif;
    }
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: #ffd800;
}
.mediaicons a{
    font-size: 16px;
    padding-right: 25px;
}
#insist{
        color: #04020e;
    font-size: 22px;
    }
@media (min-width: 768px) {
    body{
        font-size: 18px;
    }
    .nav > li > a {
        padding: 15px 0;
    }
    #navlist li > a:before {
        content: "|";
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    #navlist li:nth-child(1) > a:before {
        content: "";
        padding-left: 0;
    }
    #navlist{
        margin-left: 25%;
    }
    .mediaicons{
    margin-right: 20px;
    padding-top: 15px;
}
    #msgModal{
        width:50%;
    }
}
@media (max-width: 768px) {
    body{
        font-size: 15px;
    }
#navlist{
    width: 30%;
    float:left;
    display:block;
}
    .mediaicons{
        width: 70%;
        float:right;
        margin-right:0;
        text-align: right;

    }
    #msgModal{
        width:70%;
        padding-left: 10%;
    }

}

#quick-link{
    color:#3342b7;
}

@media (max-width: 567px) {
    #msgModal{
        width:95%;
        padding:0;
        font-family: Arial, sans-serif;
    }
    body{
        font-family: "Arial Narrow", sans-serif;
        font-size: 14px;
    }
    #bio{
        text-align: justify;
    }
    #message{
        margin-top: 0;
    }
    #insist{
        font-size: 16px;
        text-align: center;
        color: #050505;
    }
}

#msgModal .modal-header{
    background-color: rgb(101, 200, 151);
    color:rgb(255, 255, 255);
}

#message_title{
    display: inline;
}

.close{
    color: red;
}


#cont-header{
        margin-top: 0;
    }
#additional_info{
        margin-top: 0;
    }

