
<!doctype html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <title>John Gaitho</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link href="{% static 'blog/style.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Crete+Round|Nunito:700|Poiret+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=El+Messiri" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" id="logo" href="{% url 'homepage' %}">John Gaitho</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
                        <div class="navbar-nav navlinks">
                            <a class="nav-item nav-link " href="{% url 'homepage' %}">HOME<span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link " href="{% url 'alljobs' %}">WORK</a>
                            <a class="nav-item nav-link active" href="{% url 'allblogs' %}">BLOG</a>
                            <a class="nav-item nav-link" href="{% url 'contactpage' %}">CONTACT</a>
                        </div>
                        <div  class="mediaicons navbar-nav ml-auto">
                            <a href="mailto:johngaitho05@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/john-gaitho-547b9812b/"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/johng.yk"><i class="fab fa-facebook"></i></a>
                            <a href="https://twitter.com/JohnNjo26623496"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/john_yk001/"><i class="fab fa-instagram"></i></a>

                        </div>
                    </div>

                </nav>
            </header>
            {% block body %}
            {% endblock %}
            <footer class="text-muted">
                <div class="container text-center">
                    <p>© John Gaitho {% now "Y" %}</p>
                </div>
            </footer>
        </div>
    </body>
</html>
