
{% extends 'base.html' %}
{% load staticfiles %}
{% block static %}
    {% static  'blog/style.css' %}
{% endblock %}
{% block navlinks %}
        <li id="nav-item"><a href="{% url 'homepage' %}">HOME</a></li>
        <li id="nav-item"><a  href="{% url 'alljobs' %}">WORK</a></li>
        <li id="nav-item" class="active"><a  href="{% url 'allblogs' %}">BLOG</a></li>
        <li id="nav-item"><a href="{% url 'contactpage' %}">CONTACT</a></li>
{% endblock %}
{% block body %}
<br/>
<br/>
<div class="row" id="blog_page">
<script type="text/javascript">
    $(document).ready(function(){
    $('#blog_page').css('height', window.innerHeight-180);
    });
</script>
 {% if blogs %}
    {% for blog in blogs %}
    <div class="col-md-3">
        <img src="{{ blog.image.url }}" height="200px" width="100%" class="img-responsive" style="margin-top:8px;"/>
    </div>
    <div class="col-md-6" id="summary">
        <h3>{{ blog.title }}</h3>
        <br/>
        <p>{{ blog.summary }}...<a href="{% url 'blogdetails' blog.id%}">Read on</a></p>
    </div>

    <div class="col-md-3">
        {{ blog.pub_date }}
    </div>
<br/>
{% endfor %}
        {% else %}
     <div class="col-md-4 col-md-offset-4">
     <div  style="margin-top: 30%;">
        <h2 class="text-center" style="font-family:'Bitstream Vera Sans Mono',cursive">No blog yet</h2>
        </div>
     </div>
    {% endif %}
</div>
{% endblock %}