
{% extends 'base.html' %}
{% load staticfiles %}
{% block static %}
    {% static  'blog/style.css' %}
{% endblock %}
{% block navlinks %}
        <li id="nav-item"><a href="{% url 'homepage' %}">HOME</a></li>
        <li id="nav-item"><a  href="{% url 'alljobs' %}">WORK</a></li>
        <li id="nav-item" class="active"><a  href="{% url 'allblogs' %}">BLOG</a></li>
        <li id="nav-item"><a href="{% url 'contactpage' %}">CONTACT</a></li>
{% endblock %}
{% block body %}
<br/>
<h2 class="text-center">Welcome to my Blog</h2>
<br/>
{% for blog in blogs %}
<div class="row">
    <div class="col-md-3">
        <img src="{{ blog.image.url }}" height="200px" width="100%" class="img-responsive" style="margin-top:8px;"/>
    </div>
    <div class="col-md-6" id="summary">
        <h3>{{ blog.title }}</h3>
        <br/>
        <p>{{ blog.summary }}...<a href="{% url 'blogdetails' blog.id%}">Read on</a></p>
    </div>

    <div class="col-md-3">
        {{ blog.pub_date }}
    </div>
</div>
<br/>
{% endfor %}
{% endblock %}