{% extends 'base.html' %}
{% block body %}
    {% load staticfiles %}
            <div class="row">
                <div class="col-sm-3 profile">

                    <img src="{% static 'img/profile.jpg' %}" alt="profile picture" id="profile"/>

                </div>
                <div class="col-md-6 col-sm-8 col-lg-6 col-sm-offset-2">
                    <div id="bio" class="text-center">
                        <p>Hi, I'm John Gaitho, currently a BBIT Student at
                            <a href="https://www.pacuniversity.ac.ke/">PAC University</a> in Nairobi-Kenya.Along with that, a I am a professional
                            web developer(both front and back end). I use use either django or php for back end.Lately I have been working as a freelancer since 2017. </p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12" id="details">
                    <h5><a href="#">See my CV</a></h5>
                    <h5><a href="#">Email me</a></h5>
                </div>
            </div>
            <br />
            <hr class="bg-dark" style="width:80%"/>
            <br />
            <div class="row">
                   <div class="col-md-6" id="message">
                       <h3><a href="#">Get in touch</a></h3>
                    <p>Do you want a professional website for your business? or  are you a web developer
                        looking for someone to work with? Either way, you just landed into the right place. Let's talk...</p>
                    <button class="btn btn-success">Message me</button>
                    <a href="#" style='padding-left: 30px;'>Use another channel instead</a>
                    </div>
                    <br />
                <div class="col-md-6">
                    <h3><a href="#">View my work</a></h3>
                    <ul>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">Php</a></li>
                        <li><a href="#">Visual Basic</a></li>
                        <li><a href="#">HTML,CSS,JavaScript</a></li>
                    </ul>
                </div>
            </div>
            <br />
            <hr />
{% endblock %}
