{% extends 'base.html' %}
{% load staticfiles %}
{% block static%}
    {% static  'contact/style.css' %}
{% endblock %}
{% block navlinks %}
<li id="nav-item"><a href="{% url 'homepage' %}">HOME</a></li>
<li id="nav-item"><a  href="{% url 'alljobs' %}">WORK</a></li></li>
<li id="nav-item"><a  href="{% url 'allblogs' %}">BLOG</a></li>
<li id="nav-item" class="active"><a href="{% url 'contactpage' %}">CONTACT</a></li>
{% endblock %}
{% block body %}
            <div class="row" style="margin-top: 40px;">
                <div class="col-sm-6">
                    <div id="messageDiv">
                    <h3 style="color:sienna">Send a message</h3>
                    <div class="well" onclick="validatemail()" id="message_well">
                        <br/>
                    <form action="{% url 'savemessage' %}"  name="messageform" method="post" >
                        {% csrf_token %}
                <div class="form-group">
                    <label for="inputfname">Your full name<span class="glyphicon glyphicon-asterisk" id="star"></span></label>
                    <input type="text" id="inputfname"  name="name" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="inputlname">Your Email address<span class="glyphicon glyphicon-asterisk" id="star"></span></label>
                    <input type="text" id="inputlname"  name="email" id="email" class="form-control" />
                    <span id="result" style="color:red" class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="message">Message<span class="glyphicon glyphicon-asterisk" id="star"></span></label>
                    <textarea name="message" id="message" cols="40" rows="8" class="form-control"></textarea>
                    <input type="hidden" name="page" value="contact"/>
                </div>
                        <input type="button" class="btn btn-primary" value="Send" onclick="validateall()" id="submitbutton"/>
            </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="contactinfo">
                <div  style="padding-left: 50px;">
                    <h3 style="color:sienna;padding-left:20px">Contact information</h3>
                <br/>
                    <div id="contact_infomation">
                 <p class="cont-item"><span class="glyphicon glyphicon-envelope"></span>johngaitho05@gmail.com</p>
                <p class="cont-item"><span class="glyphicon glyphicon-earphone"><sub>1</sub></span>+254796008376</p>
                <p class="cont-item"><span class="glyphicon glyphicon-earphone"><sub>2</sub></span>+254714458657</p>
                <p class="cont-item"><span class="glyphicon glyphicon-map-marker"></span>56875-00200 Nairobi,Kenya</p>
                    </div>

                </div>
            </div>
            </div>
    <script type="text/javascript">

          function validateEmail(email) {
  var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}

function validatemail() {
  var myemail = document.forms["messageform"]["email"].value;
  var result = document.getElementById("result")
  if (!validateEmail(myemail) && myemail!="") {
    result.innerHTML = "Invalid email address";
    document.forms["messageform"]["email"].style.borderColor = "red";
    return false;
  } else {
      document.forms["messageform"]["email"].style.borderColor = "";
      result.innerHTML = "";
      return true
  }
}
function validateall(){
    var email = document.forms["messageform"]["email"].value;
    var name = document.forms["messageform"]["name"].value;
    var message = document.forms["messageform"]["message"].value;

    if(validatemail() && name!="" && email != "" && message!=""){
     form1 = document.forms["messageform"];
     alert("Message sent successfully.");
     form1.submit();
    }else if(validatemail() && name=="" || email == "" || message==""){
        alert("Plesae fill in all the requred fields");
    }
}
    </script>
{% endblock %}














