{% extends 'base.html' %}
{% load staticfiles %}
{% block static %}
    {% static  'jobs/style.css' %}
{% endblock %}
{% block navlinks %}
<li id="nav-item"><a href="{% url 'homepage' %}">HOME</a></li>
<li id="nav-item" class="active"><a  href="{% url 'alljobs' %}">WORK</a></li></li>
<li id="nav-item"><a  href="{% url 'allblogs' %}">BLOG</a></li>
<li id="nav-item"><a href="{% url 'contactpage' %}">CONTACT</a></li>
{% endblock %}
{% block body %}
    <br/>
    <br/>
    <div class="well" style="background-color:white;">
    <h2 class="text-center" style="margin-top: 0">{{ job.title }}</h2>
    <p style="margin-top:10px;font-family: 'Crimson Text', serif; font-size: 20px;">{{ job.description }}</p>
        <br/>
 <img style="border:1px solid rosybrown;" src="{{ job.image.url }}" width="100%" height="auto" class="img-reponsive img-fluid"/>
    </div>
{% endblock %}