{% extends 'jobs/base.html' %}
{% block body %}
<br/>
<h2 class="text-center">{{ page_title }}</h2>
<div class="row">
    {% for job in jobs %}
    <div class="col-lg-4 col-md-6">
        <div class="card mb-4 shadow-sm">
            <img src="{{ job.image.url }}" height="200px" class="img-responsive"/>
            <div class="card-body">
                <h4>{{ job.title }}</h4>
                <p class="card-text">{{ job.summary }}...<a href="#">Read on</a></p>
                <div class="text-center">
                <ul>
                   {% for language in job.langs %}
                    <li>{{ language }}</li>
                    {% endfor %}
                </ul>
                <small class="text-muted"><a href="{{ job.github_link }}">Github link</a></small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}